<div id="<%= dom_id upcoming_show %>">
  <p>
    <strong>Name:</strong>
    <%= upcoming_show.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= upcoming_show.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= upcoming_show.end_time %>
  </p>

</div>
